<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Darkrai</title>
    <link rel="shortcut icon" href="../img/darkrai.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Concert+One&family=Roboto+Condensed&family=Secular+One&family=Teko:wght@700&family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body class="darkrai">
    <h1>Darkrai</h1>
    <img src="../img/darkrai.png" alt="Darkrai">
    <p>Tipo:<span>Siniestro</p>
    <h1>Descripción</h1>
    <p>Defiende su territorio de personas y Pokémon haciéndoles dormir y provocándoles pesadillas.</p>
    <p id="enlace"><a href="../index.html">Volver Inicio</a></p>
</body>

</html>