<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Uxie</title>
    <link rel="shortcut icon" href="../img/uxie.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Concert+One&family=Roboto+Condensed&family=Secular+One&family=Teko:wght@700&family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body class="uxie">
    <h1>Uxie</h1>
    <img src="../img/uxie.png" alt="Uxie">
    <p>Tipo:<span>Psíquico</p>
    <h1>Descripción</h1>
    <p>Se le conoce como el Ser de la Sabiduría. Se dice que puede borrar la memoria con una mirada.</p>
    <p><a href="../index.html">Volver Inicio</a></p>
</body>

</html>