<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Uxie</title>
    <link rel="shortcut icon" href="../img/uxie.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Concert+One&family=Roboto+Condensed&family=Secular+One&family=Teko:wght@700&family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Abel', sans-serif;
font-family: 'Concert One', cursive;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Secular One', sans-serif;
font-family: 'Teko', sans-serif;
font-family: 'Ubuntu', sans-serif;">
    <h1>Uxie</h1>
    <img width="30%" src="../img/uxie.png" alt="Uxie">
    <p>Tipo:<span style="background-color: #c55edf; padding: 2px; border-radius: 4px;">Psíquico</p>
</body>

</html>